.header {
	padding: 20px;

	nav {
		ul {
			li {
				display: block;
				position: relative;
				padding: 0 10px;

				a {
					font-size: 28px;
				}
			}
			li ul.subMenu li {
				background-color: rgba(89, 255, 0, 0.638);
				width: 100%;
			}
			ul.subMenu {
				position: absolute;
				z-index: 999;
				display: none;
			}

			li:hover ul.subMenu {
				display: block;
			}
		}
	}
}
