@import '../../styles/variables';

.formPage {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $background-color;
	color: $white;

	padding: 20px 0;
}

.formContainer {
	width: 30%;
	padding: 40px;
	border-radius: 10px;
	background: $animation-background;
	background-size: $animation-background-size;
	animation: $animation-live;
}

.formField {
	margin-bottom: 20px;

	label {
		display: block;
		color: $white;
		font-weight: bold;
	}

	input[type='text'],
	input[type='password'],
	input[type='email'] {
		width: 100%;
		padding: 10px;
		border-radius: 5px;
		border: none;
		background-color: $background-color;
		color: $white;

		&:focus {
			outline: none;
			box-shadow: 0 0 5px $accent-color;
		}
	}

	.checkboxContainer {
		display: flex;
		align-items: center;
		color: $white;
		margin-bottom: 20px;

		input[type='checkbox'] {
			appearance: none;
			-webkit-appearance: none;
			width: 41px;
			height: 23px;
			border-radius: 10px;
			border: 2px solid $white;
			position: relative;
			cursor: pointer;
			transition: background-color 0.3s ease;
			background-color: black;

			&:checked {
				background-color: $accent-color;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 5px $accent-color;
			}

			&::before {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: $white;
				transition: transform 0.3s ease;
				transform: translateX(0);
			}

			&:checked::before {
				transform: translateX(18px);
			}
		}

		label {
			user-select: none;
			margin-left: 10px;
		}
	}
}

.submitButton {
	background-color: transparent;
	color: $primary-color;
	border: 2px solid $primary-color;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		color: $white;
		border: 2px solid $white;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 5px $accent-color;
	}
}
