@import '../../styles/variables';

.articlesContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}

.article {
	display: flex;
	flex-direction: column;
	background-color: $background-color;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	&Image {
		width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	&Title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}

    &Description{

    }

	&Tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px;
		margin-top: auto;

		.tag {
			background-color: $accent-color;
			color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 12px;
            list-style: none;
		}
	}
}
