@import '../../styles/variables';
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: $animation-background;
	background-size: $animation-background-size;
	animation: $animation-live;
    padding: 20px;

	flex: 0 0 auto;

	color: $white;

	&__section {
		padding: 20px;
	}

	// Базові стилі для заголовків у футері
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white;
		font-family: 'Courier New', Courier, monospace;
		text-shadow: 1px 1px 1px $purple;
	}
}
