$background-color: #040726;
$white: #fff;
$purple: #800080;
$menu-primary-color: gray;
$primary-color: #0fd;
$secondary-color: #ff0;
$tertiary-color: #f0f;
$accent-color: #b943e7;
$accent-color-hover: #9719ec;
$font-family-header: 'Orbitron', sans-serif;
$gradient-color: linear-gradient(135deg, $background-color, $purple);
$animation-live: liveBackground 20s linear infinite alternate;
$animation-background: linear-gradient(
	135deg,
	$background-color,
	$purple,
	$background-color
);
$animation-background-size: 200% 200%;
