@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables';

html,
body {
	height: 100%;
}

body {
	background-color: $background-color;
	color: $white;
	font-family: 'Courier New', Courier, monospace;

	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

main{
	padding: 0 20px;
}

h1 {
	color: $primary-color;
	font-size: 32px;
	margin-bottom: 20px;
}

h2 {
	color: $primary-color;
	font-size: 28px;
	margin-bottom: 18px;
}

h3 {
	color: $primary-color;
	font-size: 24px;
	margin-bottom: 16px;
}

h4 {
	color: $primary-color;
	font-size: 20px;
	margin-bottom: 14px;
}

h5 {
	color: $primary-color;
	font-size: 18px;
	margin-bottom: 12px;
}

h6 {
	color: $primary-color;
	font-size: 16px;
	margin-bottom: 10px;
}

a {
	color: $tertiary-color;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: $primary-color;
	}
}

::-webkit-scrollbar {
	width: 8px; /* ширина полоски прокрутки */
}

::-webkit-scrollbar-track {
	background-color: $purple; /* колір фону треку */
}

::-webkit-scrollbar-thumb {
	background-color: $accent-color; /* колір пальця прокрутки */
	border-radius: 10px; /* закруглені кути пальця прокрутки */
}

::-webkit-scrollbar-thumb:hover {
	background-color: $accent-color-hover; /* колір пальця прокрутки при наведенні */
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		padding: 10px 0;
		// border-bottom: 1px solid $primary-color;
		list-style: none;
	}
}


ol {
	list-style-type: decimal;
	padding-left: 20px;

	li {
		padding: 10px 0;
		border-bottom: 1px solid $secondary-color;
	}
}

input {
	color: $background-color;
}
